<p id="notice"><%= notice %></p>

<h1>Androidversions</h1>

<table>
  <thead>
    <tr>
      <th>Ver</th>
      <th>Name</th>
      <th>Api</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @androidversions.each do |androidversion| %>
      <tr>
        <td><%= androidversion.ver %></td>
        <td><%= androidversion.name %></td>
        <td><%= androidversion.api %></td>
        <td><%= link_to 'Show', androidversion %></td>
        <td><%= link_to 'Edit', edit_androidversion_path(androidversion) %></td>
        <td><%= link_to 'Destroy', androidversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Androidversion', new_androidversion_path %>
